*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2 ?family=Open+Sans&family=Oswald&display=swap');

.header{
    width: 1920px;
    height: 800px;
    background-image: url(./foto/Rectangle\ 2.png);
    margin: auto;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul{
    display: flex;
}

.menu_link{
    font-size: 14px;
    color:white;
    display: flex;
    margin-right: 25px;
    margin-top: 31px;

}

.menu_list-item:not(:last-child){
    margin-right: 25px;

}

.logo{
    display: flex; 
    background: rgba(0, 91, 193, 0.6);;

}
.logo_link{
    margin-left: 40px;
    margin-top: 11px;
}

.menu_list{
    margin-left: 555px;

}

.kvadrat{
    width: 444px;
    height: 725px;
    margin-left: 405px;
    background: rgba(0, 91, 193, 0.6);
}

.info{
    width: 635px;
    height: 317px;
    display: block;
    margin-top: -500px;
    margin-left: 500px;
    color:white;

}

h1{
    font-family: 'Oswald', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    width: 750px;
}
.info>p{
    width: 445px;
    height: 44px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 40px;
}

.menu_block{
    width: 160px;
    height: 51px;
    margin-top: -65px;
    margin-left: 500px;
    border: 1px solid white;
}

.menu_knock{
    color: white;
    display: flex;
    width: 79px;
    height: 22px;
    margin-top: 15px;
    margin-left: 41px;
}

.container{
    width: 1110px;
    margin: auto
}

.slider{
    margin-top: 152px;

}
.big {
    width: 55px;
    height: 55px;
    border: 2px solid #005BC1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1000px;
    margin-top: -40px;


}

.small{
    width: 55px;
    height: 55px;
    border: 2px solid #005BC1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1055px;
    margin-top: -55px;
}

.slider>h2{
    display: block;
    margin-left: 150px;
    margin-top: -25px;
}

.olimp {
    width: 540px;
    height: 400px;
    position: relative;
    background-image: url(./foto/Rectangle\ 4.png);
    margin-top: 70px;


}

.blabla{
    position: absolute;
    width: 250px;
    height: 110px;
    margin-top: 255px;
    margin-left: 255px;
    background-color: white;
}

.blabla>h3{
    margin: 20px 25px; 
    font-family: 'Oswald', sans-serif; 
    font-style: bold;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.blabla>p{
    margin-top: -15px;
    margin-left: 25px;
    font-family:'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    
}

.oli{
    width: 540px;
    height: 400px;
    position: relative;
    background-image: url(./foto/Rectangle\ 4\ \(1\).png);
    margin-left: 600px;
    margin-top: -400px;
    display: flex;
}

.ork{
    
    width: 250px;
    height: 110px;
    margin-top: 255px;
    margin-left: 255px;
    background-color: white;
}

.ork>h4{
    margin: 20px 25px; 
    font-family: 'Oswald', sans-serif; 
    font-style: bold;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.ork>p{
    margin-top: -15px;
    margin-left: 25px;
    font-family:'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    
}