*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2 ?family=Open+Sans&family=Oswald&display=swap');

.header{
    width: 1920px;
    height: 800px;
    background-image: url(./foto/Rectangle\ 2.png);
    margin: auto;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul{
    display: flex;
}

.menu_link{
    font-size: 14px;
    color:white;
    display: flex;
    margin-right: 25px;
    margin-top: 31px;

}

.menu_list-item:not(:last-child){
    margin-right: 25px;

}

.logo{
    display: flex; 
    background: rgba(0, 91, 193, 0.6);;

}
.logo_link{
    margin-left: 40px;
    margin-top: 11px;
}

.menu_list{
    margin-left: 555px;

}

.kvadrat{
    width: 444px;
    height: 725px;
    margin-left: 405px;
    background: rgba(0, 91, 193, 0.6);
}

.info{
    width: 635px;
    height: 317px;
    display: block;
    margin-top: -500px;
    margin-left: 500px;
    color:white;

}

h1{
    font-family: 'Oswald', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    width: 750px;
}
.info>p{
    width: 445px;
    height: 44px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 40px;
}

.menu_block{
    width: 160px;
    height: 51px;
    margin-top: -65px;
    margin-left: 500px;
    border: 1px solid white;
}

.menu_knock{
    color: white;
    display: flex;
    width: 79px;
    height: 22px;
    margin-top: 15px;
    margin-left: 41px;


}
